body, html{
    background-image:url(../images/cool.jpg);
	background-attachment: fixed;
	background-size: cover;
    height: 100%;
    font-style: oblique;
    color: #ccc;
    overflow: hidden;
    font-weight: bold;
}
#content_body {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
}

header{
    color:rgb(0, 0, 0);
    text-align: center;
    margin-top: 40px;
    color: #ccc;
}

#content_body{
    width: 400px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
label{
    font-size: 18px;
    float: left;
    color: #ccc;
}

input[type=text],input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea, select {
    width: 100%;
    height: 420px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(187, 112, 0);
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer{
    clear: both;
    float: center;
    margin-right: 10px;
    margin-bottom: 5px;
}

a{
    color: rgb(187, 112, 0);
}

img {
    border-radius: 50%;
    float: center;
    margin-top: 30px;
    margin-bottom: 20px;

}

#navigation_panel{
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    float: left;
}

#home_contents{
    width: 1200px;
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#rounded_btn {
    border-radius: 10px;
    width: 100px;
    background-color: rgba(204, 204, 204, 0.014);
    border: 1px solid rgb(255, 255, 255, o.5);
    padding: 5px; 
    color: #ccc;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 10px;
}


#rounded_btn:hover {
    border-radius: 10px;
    width: 100px;
    background-color: rgba(204, 204, 204, 0.014);
    border: 1px solid rgb(255, 208, 0);
    padding: 5px; 
    color: #ccc;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 10px;
}

hr{
    width: 150;
}

#logout_btn {
    border-radius: 10px;
    width: 100px;
    background-color: rgba(204, 204, 204, 0.014);
    border: 1px solid rgb(253, 4, 4, 0.966);
    padding: 5px; 
    color: #ccc;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 10px;
}

#stories{
    width: 970px;
    height: 600px;
    border-radius: 10px;
    float: right;
    overflow-y: auto;
}

#articles{
    width: 950px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    float: left;
    margin-bottom: 10px;
    text-align: left;
}


#actions{
    width: 215px;
    padding: 5px;
    border-radius: 10px;
    float: right;
    margin-bottom: 10px;
    text-align: left;
}